.footer-container {
  background-color: #0A2653;
  padding: 1rem 0 1rem 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* align-content: space-between; */
  white-space: nowrap;
  height: 80px;
}

.footer-links {
  width: 100%;
  /* margin-left: 15px;
  max-width: 1000px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
}

.footer-link-items {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  margin: 15px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-details {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height */
  margin-bottom: 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

footer-location > .location-icon {
  font-size: 24px;
  /* padding-right: 1000px; */
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .contact-us-text {
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.06em;
  }
  .footer-links {
    width: 85%;
    /* margin-left: 15px;
    max-width: 1000px; */
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
}